body{
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    background-color: hsl(0, 0%, 25%);
    color: white;
    font-size: 5rem;
    padding: 20px;
    text-align: left;
    border: none;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 25px   ;
}

button{
    width: 100px;
    height: 100px;
   border-radius: 50;  
   border: none;  
   background-color: hsl(0, 0%, 30%);
   color: white;
    font-size: 3rem;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator-btn{
    background-color: hsl(35, 86%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}