*{ 
     font-size: 30px;
     font-weight: 500;
}
h3{
    color: rgb(114, 114, 231);
}

h4{
    color: rgb(239, 158, 185);
}

    .myclass {
        color: rgb(223, 187, 142);
    }

    #myid{
        color: rgb(151, 141, 170);
    }

    h5,p{
        color: rgb(223, 102, 102);
    }