/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* Theme Variables */
:root {
    --bg: linear-gradient(90deg, #b1d9e6, #f9f9f9);
    --card: #650101ba;
    --text: #6f7780;
    --btn: #ff6f61;
}

/* Dark Theme */
body.dark {
    --bg: linear-gradient(90deg, #1e1e2f, #2c2c3a);
    --card: #2c2c3a;
    --text: #ffffff;
    --btn: #ff6f61;
}

/* Background */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg);
    transition: 0.4s;
}

/* Calculator (FIXED ID instead of class) */
#calculator {
    width: 320px;
    padding: 20px;
    border-radius: 25px;
    background: var(--card);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Display */
#result {
    height: 120px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(135deg, #252323, #440000);
}

#history {
    text-align: right;
    color: #949aa0;
    font-size: 0.8rem;
}

#output {
    text-align: right;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--text);
}

/* Grid */
#keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

/* Buttons */
button {
    height: 60px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
}

/* Numbers */
.number {
    background: #ffffff;
    color: #333;
}

/* Operators */
.operator {
    background: linear-gradient(135deg, #252323, #a60000);
    color: #fff;
}

/* Equal Button FIX */
#equals {
    background: linear-gradient(135deg, #252323, #a60000);
}

/* Hover */
button:hover {
    transform: scale(1.08);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* Click */
button:active { 
    transform: scale(0.95);
}

/* Empty */
.empty {
    background: transparent;
}

/* Mobile */
@media (max-width: 400px) {
    #calculator {
        width: 95%;
    }
    button {
        height: 55px;
        font-size: 16px;
    }
}

/* Toggle Switch */
.theme-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    background: #dba8a8;
    border-radius: 25px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
}

.slider:before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3.5px;
    background: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background: #000000;
}

input:checked + .slider:before {
    transform: translateX(24px);
}