body {
    font-family: 'Arial', sans-serif;
    background-color:white;
    color: black;
}

  h1 {
        color:rgb(16, 124, 160);
}

/* Attribute Selector */
a {
    color: rgb(43, 5, 16);
    text-decoration: none;
}

a:hover{
    color:rgb(31, 6, 60);
}

/* Child Selector */
ul > li {
    font-weight: bold;
}

/* Sibling Selector */
h1 + p {
    background-color:palegreen;
    padding: 10px;
    border-radius:  5px;
}

/* :hover Pseudo-classm*/
ul li:hover {
    color: rgb(58, 89, 19)
}

/* :nth-child(n) Pseudo-class */
ul li:nth-child(3) {
    background-color:skyblue;
}

/* :not(selector) Pseudo-class */
p:not(:first-of-type) {
    text-decoration: rgb(114, 32, 32);
}

/* ::before Pseuda-element */
ul li::before {
    content:"*";
}

/* ::afterPseudo-element */
a::after {
    content:"*";
}

/* ::first-letter Pseudo-element */
p::first-letter{
    font-size: 200%;
    color: rgb(70, 5, 5);
}