body {
    font-family: 'Arial', sans-serif;
    background-image:url(space-background-realistic-starry-night-cosmos-shining-stars-milky-way-stardust-color-galaxy.jpg);
    color: rgb(0, 0, 0);
}

  h1 {
        color: rgb(0, 0, 0);
}

/* Attribute Selector */
a {
    color: rgb(233, 233, 233);
    text-decoration: none;
}

a:hover{
    color: rgb(132, 255, 0);
}

/* Child Selector */
ul > li {
    font-weight: bold;
}

/* Sibling Selector */
h1 + p {
    background-color: rgb(137, 198, 233);
    padding: 10px;
    border-radius:  5px;
}

/* :hover Pseudo-class */
ul li:hover {
    color: rgba(6, 44, 69, 0.551)
}

/* :nth-child(n) Pseudo-class */
ul li:nth-child(3) {
    background-color: deepskyblue;
}

/* :not(selector) Pseudo-class */
p:not(:first-of-type) {
    text-decoration: underline;
}

/* ::not(selector) Pseuda-class */
ul li::before{
    content: "🚀";
}

/* ::before Pseuda-element */
::-webkit-search-decoration::after {
    content: "☄️";
    color: blue;
}|

/* ::first-letter Pseudo-element */
p::first-letter{
    font-size: 200%;
    color: cornflowerblue;
}
