body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #635f5f;
}

h5 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #8b0000;
}   

/* Full width navbar */
.navbar {
 background:#ffc1aa;
 border-top: 2px solid #caa3a3;
 padding: 12px 40px !important;    
}

/* Logo */
.brand-logo {   
 font-size: 24px;
 font-weight: 700;
 color: #000000;
 text-decoration: none;
 height: 24px;
 width: auto;
}

/* Links */
.navigation-link {
 color: #000000 !important;
 text-decoration: none;
 font-size: 18px;
 margin-left: 20px;
 font-weight: 500;
}

.navigation-link:hover {
 color: #ffffff !important;
}

